table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* class */
/* .post_title {
  text-align: center;
} */

/* id */
#post_title {
  text-align: center;
}

.primary-button {
  background-color: blue;
  color: rgb(255, 255, 255);
}

.secondary-button {
  background-color: rgb(0, 144, 12);
  color: rgb(255, 255, 255);
}

p {
  color: green;
}
